/* AdminDashboard.css */
.logout-button {
    background-color: #4599b3; /* Kırmızı arka plan */
    color: white; /* Beyaz yazı rengi */
    padding: 10px 20px; /* İç boşluk */
    border: none; /* Kenar yok */
    border-radius: 5px; /* Yuvarlatılmış köşeler */
    cursor: pointer; /* İmleç değişimi */
    margin-top: 20px; /* Üst boşluk */
    display: block; /* Blok olarak göster */
    width: 20%; /* Tam genişlik */
}

.logout-button:hover {
    opacity: 0.8; /* Hover efekti */
}

.request-item {
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    justify-content: space-between;
    align-items: flex-start; /* Sol hizalama */
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 100%; /* Tam genişlik */
}

/* Butonları yan yana yerleştirmek için kapsayıcı */
.button-container {
    display: flex; /* Flexbox kullan */
    justify-content: space-between; /* Aralarındaki boşluğu eşit dağıt */
    width: 100%; /* Tam genişlik */
}

.approve, .reject {
    margin-top: 10px; /* Üst boşluk */
    width: 48%; /* Genişlik ayarı */
}

.approve {
    background-color: #4CAF50; /* Yeşil arka plan */
    color: white; /* Beyaz yazı rengi */
    padding: 10px 20px; /* İç boşluk */
    border: none; /* Kenar yok */
    border-radius: 5px; /* Yuvarlatılmış köşeler */
    cursor: pointer; /* İmleç değişimi */
}

.reject {
    background-color: #f44336; /* Kırmızı arka plan */
    color: white; /* Beyaz yazı rengi */
    padding: 10px 20px; /* İç boşluk */
    border: none; /* Kenar yok */
    border-radius: 5px; /* Yuvarlatılmış köşeler */
    cursor: pointer; /* İmleç değişimi */
}

/* AdminDashboard.css */
.no-requests-message {
    text-align: left; /* Metni sola hizala */
    width: 100%; /* Tam genişlik */
    margin: 10px 0; /* Üst ve alt boşluk */
}