
.intro-text {
  background-color: #00695c;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.intro-text h1 {
  margin-top: 0;
}

/* Add this new class */
.required-star {
  color: red; /* Red color for the star */
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-inputs input {
  flex: 1;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}