body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  display: flex !important;  /* Flexbox for side-by-side layout */
  justify-content: space-between;   /* Space between logo and login box */
  align-items: center !important; /* Vertically center the content */
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f2f5; /* A light background similar to Facebook */
}


.logo {
  max-width: 35%; /* Ensure the logo doesn't exceed its container */
  height: auto;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.login-box {
  background-color: rgb(63, 48, 48);
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* Fixed width for the login box */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for a lifted effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; /* Use absolute positioning */
  right: 150px; /* Adjust this value as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for the height of the box */
}

.title-home {
  color: #fcf7f7;
  font-size: 2em;
  margin-bottom: 35px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.button {
  background-color: #1877f2; /* Facebook's primary button color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
}

.button:hover {
  background-color: #145dbf;
}
