body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.home-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between logo and login box */
  align-items: center; /* Vertically center the content */
  min-height: 100vh; /* Full viewport height */
  padding: 20px;
  padding-right: 100px !important;
  flex-direction: row !important;
  background-color: #f0f2f5; /* A light background similar to Facebook */
}

.logo-container {
  display: flex; /* Use flexbox for logo alignment */
  justify-content: center;
  margin-bottom: 55px; /* Center the logo horizontally */
}

.logo {
  max-width: 40%; /* Ensure the logo doesn't exceed its container */
  height: auto;
}

.login-box {
  background: linear-gradient(90deg, #004085da, #0070a3e8); /* Butonlar için geçişli mavi tonlar */
  padding: 20px;
  border-radius: 20px;
  width: 90%; /* Make width responsive */
  max-width: 400px; /* Set a maximum width */
  box-shadow: 0 2px 5px rgba(6, 2, 43, 0.2); /* Subtle shadow for a lifted effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-home {
  color: #fcf7f7;
  font-size: 2em;
  margin-bottom: 35px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.button {
  background-color: #1877f2; /* Facebook's primary button color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
}

.button:hover {
  background-color: #145dbf;
}
